# Consumet API instance base URL
VITE_API_URL=

# CORS proxy URL (e.g. https://github.com/warren-bank/node-HLS-Proxy)
VITE_CORS_PROXY_URL=

# Iframe provider URLs. Works with any provider using the /[anilistId]/[episodeId]/[subOrDub] structure (e.g. vidnest.fun or animeplay.cfd)
VITE_EMBED_PLAYER_URL=
VITE_OTHER_EMBED_PLAYER_URL=